{% extends "base.html" %}
{% block content%}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h3>Welcome to :</h3>
                <h1>Bobo's Movie Palace</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-7">
                <img src="/static/img/pyany_cat.jpg" alt="goat-cat.jpeg" />
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    </div>
{% endblock %}